.offer {
	background: linear-gradient(90deg,
			rgba(39, 14, 78, 0.664),
			rgba(39, 14, 78, 0.459)),
		url('../img/nurse-patient.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.dept-wrapper {
	background: linear-gradient(90deg,
			rgba(39, 14, 78, 0.664),
			rgba(39, 14, 78, 0.459)),
		url('../img/dedicated-doctors.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;

}